extends base

block content 
    h4 Update Video
    form(method="POST")
        input(type="text" placeholder="Title" name="title" maxlength=80 value=video.title)
        input(type="description" placeholder="description" name="description" minlength=20 value=video.description)
        input(type="hashtags" placeholder="hashtags, separated by comma." name="hashtags" value=video.hashtags.join())
        input(value="Save" type="submit")